//text cta
$Lightred: hsl(356, 100%, 66%);
//cta hover bg
$Verylighred:hsl(355, 100%, 74%);
//headings
$Verydarkblues: hsl(208, 49%, 24%);

//text
$White: hsl(0, 0%, 100%);
//footer texts
$Grayishblue: hsl(240, 2%, 79%);
//body
$Verydarkgrayishblue: hsl(207, 13%, 34%);
//footer bg
$Verydarkblackblue: hsl(240, 10%, 16%);

// Gradients
$Verylightred: hsl(13, 100%, 72%);
$Lighred: hsl(353, 100%, 62%);

$Verydarkgrayblue: hsl(237, 17%, 21%);
$Verydarkdesaturated: hsl(237, 23%, 32%);

